<%= react_component "App", songs: @tracks %>

<script src="https://connect.soundcloud.com/sdk/sdk-3.1.1.js"></script>

<!-- <div class="navbar navbar-default navbar-fixed-bottom">
    <p>This is a footer</p>
</div> -->

<button type="button" name="button"></button>
