<br> <br> <br>
<div class="song">
  <div class="host">
    <%= image_tag("sound_cloud.png", class: "logo") %>
  </div>
  <div class="song-info-container">
    <p class="song-details">
      Lucian - Forever LP
    </p>
    <p class="song-name">
      Forever
    </p>
  </div>
  <div class="song-waveform">
    <%= image_tag("test_waveform.png", class: "waveform") %>
  </div>
  <div class="song-time">
    <p style="float: right">
      2:14
    </p>
  </div>
</div>
