// MAKE SURE TO ADD ALL THE BELOW INTO THIS CUSTOM-ICON CLASS
.custom-icons {
  margin-left: 10px;
  color: black;
}

.fa-plus-square {
  margin-left: 10px;
  color: black;
}

.fa-plus-square:hover {
  margin-left: 10px;
  color: black;
}
