// Place all the styles related to the soundcloud controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-bottom: 55px;
}

iframe {
  display: none;
}

.song-result {
  margin-left: 30px;
}

.song-search-bar {
  margin-bottom: 20px;
}

.song-title {
  margin-left: 20px;
}

.playlist-trash {
  margin-left: 50px;
  color: black;
}

.playlist-trash:hover {
  margin-left: 50px;
  color: black;
}

.playlist-sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  // display: flex;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  border-left: 2px solid darkgrey;
  // justify-content: center;

  .playlist-header {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
  }

  .new-playlist-item {
    display: flex;
    justify-content: center;
  }

  .playlist-list-item {
    display: flex;
    justify-content: center;
  }

  .playlist-title {
    margin-left: 50px;
  }
}

// MAKE SURE TO ADD ALL THE BELOW INTO THIS CUSTOM-ICON CLASS
.custom-icons {
  margin-left: 10px;
  color: black;
}

.fa-plus-square {
  margin-left: 10px;
  color: black;
}

.fa-plus-square:hover {
  margin-left: 10px;
  color: black;
}

.play-pause-buttons {
  margin-right: 10px;
  color: black;
}

.play-pause-buttons:hover {
  margin-right: 10px;
  color: black;
}

.song {
  border: 1px solid #979797;
  width: 50%;
  height: 66px;
  display: flex;
  // align-items: stretch;
  // flex-direction: row;
  // justify-content: center;

  .song-time {
    font-size: 21px;
    width: 50%;
    // margin-left: 100px;
    // float: right;
    display: flex;
    // flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .song-info-container {
    margin: 5px;
    width: 60%;

    .song-name {
      font-size: 21px;
      font-weight: 200;
      font-family: avenir-next;
    }

    .song-details {
      font-size: 14px;
      color: #979797;
      font-family: avenir-next;
    }
  }

  .host {
    border-right: 1px solid #979797;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;

    .logo {
      height: 100%;
      width: 64;
    }
  }
}

.song-waveform {
  height: 90%;
}
.waveform {
  width: 120%;
  height: 100%;
}

.song-thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.play-bar {
  .song-manipulation {
    display: inline-block;
    margin-left: 44%;
    margin-right: 40%;
    vertical-align: middle;
    padding-top: 1%;
  }

  .playlist-hamburger {
    padding-top: 1%;
    float: right;

    .open-playlist {
      font-size: 25px;
    }
  }
}

.no-results {
  padding-left: 30px;
  margin-top: 20px;
}
