// .container.playlists-showing {
//   right:
// }
.app-title {
  color: rgb(104, 75, 185);
  margin-bottom: 20px;
}
.play-pause-buttons {
  margin-right: 10px;
  color: black;
}

.play-pause-buttons:hover {
  margin-right: 10px;
  color: black;
}

.song-container:first-child {
  margin-top: 50px;
}
.song-container.panel {
  border-radius: 2px;
}

.song {
  border: 1px solid #979797;
  width: 50%;
  height: 66px;
  display: flex;
  // align-items: stretch;
  // flex-direction: row;
  // justify-content: center;

  .song-time {
    font-size: 21px;
    width: 50%;
    // margin-left: 100px;
    // float: right;
    display: flex;
    // flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .song-info-container {
    margin: 5px;
    width: 60%;

    .song-name {
      font-size: 21px;
      font-weight: 200;
      font-family: avenir-next;
    }

    .song-details {
      font-size: 14px;
      color: #979797;
      font-family: avenir-next;
    }
  }

  .host {
    border-right: 1px solid #979797;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;

    .logo {
      height: 100%;
      width: 64;
    }
  }
}

.song-waveform {
  height: 90%;
}
.waveform {
  width: 120%;
  height: 100%;
}

.song-thumbnail {
  max-width: 75px;
  max-height: 75px;
}

.play-bar {
  background-color: rgb(104, 75, 185);
  border: none;
  box-shadow: 0px 2px 4px 1px #777;
  color: white;
  .fa {
    color: white;
  }
  .navbar-brand {
    color: white;
    font-size: 22px;
    font-family: 'Avenir Next';
  }
  .song-manipulation {
    display: inline-block;
    margin-left: 20px;
    margin-top: 3px;
    vertical-align: middle;
  }

  .playlist-hamburger {
    padding-top: 1%;
    float: right;

    .open-playlist {
      font-size: 25px;
    }
  }
}

.no-results {
  padding-left: 30px;
  margin-top: 20px;
}
